interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.biomodels.org//model/download/BIOMD0000000562?filename=BIOMD0000000562_url.xml
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8' standalone='no'?>\r\n<sbml xmlns=\"http://www.sbml.org/sbml/level3/version1/core\"
        level=\"3\" metaid=\"f19f673f-225d-4e55-a1e3-6f3d38721647\" qual:required=\"true\"
        version=\"1\" xmlns:qual=\"http://www.sbml.org/sbml/level3/version1/qual/version1\">\r\n
        \ <model id=\"MODEL1411240000\" metaid=\"_47f3d7b1-7b24-4193-8878-6fed9eca24f0\"
        name=\"Chaouiya2013 - EGF and TNFalpha mediated signalling pathway\">\r\n
        \   <notes>\r\n      <body xmlns=\"http://www.w3.org/1999/xhtml\">\r\n    <div
        class=\"dc:title\">Chaouiya2013 - EGF and TNFalpha mediated signalling pathway</div>\r\n<div
        class=\"dc:bibliographicCitation\">\r\n  <p>This model is described in the
        article:</p>\r\n  <div class=\"bibo:title\">\r\n    <a href=\"http://identifiers.org/pubmed/24321545\"
        title=\"Access to this publication\">SBML qualitative models: a\r\n    model
        representation format and infrastructure to foster\r\n    interactions between
        qualitative modelling formalisms and\r\n    tools.</a>\r\n  </div>\r\n  <div
        class=\"bibo:authorList\">Chaouiya C, B\xE9renguier D,\r\n  Keating SM, Naldi
        A, van Iersel MP, Rodriguez N, Dr\xE4ger A,\r\n  B\xFCchel F, Cokelae[...]
