interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.biomodels.org//BIOMD0000000562?format=json
  response:
    body:
      string: "{\r\n  \"name\" : \"Chaouiya2013 - EGF and TNFalpha mediated signalling
        pathway\",\r\n  \"description\" : \"<notes xmlns=\\\"http://www.sbml.org/sbml/level3/version1/core\\\">
        \     <body xmlns=\\\"http://www.w3.org/1999/xhtml\\\">    <div class=\\\"dc:title\\\">Chaouiya2013
        - EGF and TNFalpha mediated signalling pathway</div><div class=\\\"dc:bibliographicCitation\\\">
        \ <p>This model is described in the article:</p>  <div class=\\\"bibo:title\\\">
        \   <a href=\\\"http://identifiers.org/pubmed/24321545\\\" title=\\\"Access
        to this publication\\\">SBML qualitative models: a    model representation
        format and infrastructure to foster    interactions between qualitative modelling
        forma[...]
