interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.biomodels.org//BIOMD0000000500?format=json
  response:
    body:
      string: "{\r\n  \"name\" : \"Begitt2014 - STAT1 cooperative DNA binding - single
        GAS polymer model\",\r\n  \"description\" : \"<notes xmlns=\\\"http://www.sbml.org/sbml/level2/version4\\\">
        \     <body xmlns=\\\"http://www.w3.org/1999/xhtml\\\">        <div class=\\\"dc:title\\\">Begitt2014
        - STAT1 cooperative DNA binding - single GAS polymer model</div>            <div
        class=\\\"dc:description\\\">      <p>The importance of STAT1-cooperative
        DNA binding in type 1 and type 2 interferon signalling has been studies using
        experimental and modelling approaches. The authors have developed two ODE
        models to describe STAT1 binding to short promoter regions of DNA, namely
        \\\"single GAS polymer model\\\" and [...]
