# sphinx documentation
build
_build
.doctrees
source/*
!source/conf.py
!source/index.rst
!source/installation.rst
!source/formats.rst
!source/example.rst
!source/bioschemas.html
!source/_templates
!source/tutorials
!source/misc.rst
!source/_extra
